APP_PORT=8081
SPRING_PROFILES_ACTIVE=docker

SPRING_DATASOURCE_URL=jdbc:mysql://mysql:3306/test_java?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
SPRING_DATASOURCE_USERNAME=root
SPRING_DATASOURCE_PASSWORD=root

MYSQL_PORT=3307
MYSQL_ROOT_PASSWORD=root
MYSQL_DATABASE=test_java
MYSQL_USER=app
MYSQL_PASSWORD=app
